- if flash[:notice]
  %p= flash[:notice]

- form_for :settings, @settings, :url => admin_settings_path, :html => {:method => :put} do |f|
  %p
    = f.label :flickr_user_id, 'Flickr user ID'
    %br
    = f.text_field :flickr_user_id, :class => 'title'
  %p
    = f.label :synchronise_tag, 'Flickr photo tag'
    %br
    = f.text_field :synchronise_tag, :class => 'title'
  %p
    = f.label :password, 'Admin password'
    %br
    = f.password_field :password, :class => 'title'
    
  %p
    = f.submit 'Save'
    or
    = link_to 'Cancel', admin_settings_path 