!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "Flickr Portfolio - #{@title}"
    = stylesheet_link_tag 'reset', 'admin', :media => 'all'
    = javascript_include_tag 'jquery', 'jquery.livequery', :cache => false
    = javascript_include_tag 'application', :cache => false
    = yield :javascript_includes

  %body
    .container-1
      .container-2
        .columns
          .left
            %h1
              Flickr <span class='alt'>Portfolio</span>
          .right.nav
            - if logged_in?
              %ul
                %li= link_to 'logout', admin_logout_path
                %li= link_to_unless_current 'theme', admin_theme_path
                %li= link_to_unless(current_page?(:controller => 'admin/settings', :action => 'show') || controller.request.request_uri =~ /\/admin$/, 'settings', admin_settings_path)
          .spacer/
      
      .container-2
        .admin
          = yield